
	body {font-family: Arial;}

	.tab {
	  overflow: hidden;
	  border: 1px solid #ccc;
	  background-color: #f1f1f1;
	}
	.tab button {/*
 	 border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;*/
	  font-size: 17px;
	}

	.tab button:hover {
	  background-color: #ff0000;
	}

	.tab button.active {
	  background-color: #00ff00;
	}

	.tabcontent {
	  display: none;
	  padding: 6px 12px;
	  border: 1px solid #ccc;
	color:white;
	  border-top: none;
	}