body {
	width: auto;
	min-width: 460px;
	height: auto;
	min-height: 850px;
	display: flex;
	font-family: sans-serif;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
.gap {
	display: flex;
	justify-content: center;
	height: 84%;
	font-size: 14px;
	width: 100%;
	background: #f0f2f5;
}
.content {
	display: flex;
	width: auto;
	height: 100%;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	margin: 0 30px;
}
.left {
	max-width: 500px;
	padding-right: 100px;
}
img{
	box-sizing: border-box;
	width:330px;
	margin: -30px;
}
.left p {
	font-size: 28px;
}
.right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 350px;
}
.box {
	display: flex;
	gap: 25px;
	align-items: center;
	background: #ffffff;
	width: 100%;
	box-shadow: 0px 3px 10px #0000001A, 0px -3px 10px #0000001d;
	border-radius: 5px;
	height: 90%;
	padding: 25px;
	flex-direction: column;
}
.box input,button {
	padding: 10px 15px;
	border-radius: 5px;
}
.box a {
	text-decoration: none;
	color: #0000ff;
}
.box a:hover {
	text-decoration: underline;
}
.text,.password,.log,.line {
	width: 100%;
}
.text,.password {
	border: 1px solid #dddfe2;
	outline: none;
	font-size: 15px;
}
.text:focus,.password:focus {
	box-shadow: 1px 1px 1px #0000cc, -1px -1px 1px #0000cc;
}
.box button {
	font-size: 20px;
	color: #ffffff;
	border: 0;
	font-weight: bold;
}
.log {
	background-color: #0000bb;
}
.log:hover {
	background-color: #0000ff;
}
.new {
	background-color: #00bb00;
}
.new:hover {
	background-color: #00ff00;
}
.line {
	border: 1px solid #dddfe2;
}
footer {
	margin-bottom: -5vh;
	height: 16%;
	padding: 40px;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
}
.link {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.link a {
	padding: 4px 15px 3px 0;
	color: #8a8d91;
	text-decoration: none;
}
.link .u:hover {
	text-decoration: underline;
}
.link button {
	padding: 2px 10px;
	text-align: center;
	border: #dddfe2;
}
.link button:hover {
	background-color: #e7e7e7;
}
footer>p {
	padding-top: 10px;
	margin-bottom: -5vh;
}