#sign {
	z-index: 1;
	width: 25px;
	height: 25px;
	object-fit: contain;
	border-radius: 50%;
}
.big {
	font-family: Helvetica;
	font-weight: 800;
	font-size: 60px;
}
.medium {
	font-family: Helvetica;
	font-weight: 800;
	font-size: 30px;
}
.little {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 15px;
}
.mini {
	font-size: 11px;
	color: grey;
}
.line {
	height: 1px;
	border: 1px solid grey;
}
div p a {
	text-decoration: none;
}
div p a:hover {
	text-decoration: underline;
}
nav ul {
	padding: 0;
}
nav ul li .nav-link {
	color: grey;
	font-size: 14px;
}
nav ul li .nav-link:hover {
	color: grey;
	text-decoration: underline;
}